@model CardMarket_Web_Core.Models.Input

@{
    ViewData["Title"] = "apiquery";
}

<h1>Find Sellers</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewOrders">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cardNamesString" class="control-label"></label>
                <textarea asp-for="cardNamesString" class="form-control" style="height:6em;"  onkeyup="autoGrow(this);"></textarea>
                <span asp-validation-for="cardNamesString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="countryCode" class="control-label"></label>
                <input asp-for="countryCode" class="form-control" />
                <span asp-validation-for="countryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        
        function autoGrow(oField)
        {
            if (oField.scrollHeight > oField.clientHeight)
            {
                oField.style.height = oField.scrollHeight + "px";
            }
        }
    </script>
}
